body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
    padding-top: 5vh;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

/* ====================================================== */

.title {
    position: relative;
}

.title::after,
.title::before {
    content: '';
    height: 100px;
    width: 100px;
    border: 5px solid #ffffff;
    border-radius: 100px;
    position: absolute;
    top: 40px;
    transform: translateY(-50px);
}

.title::after {
    right: -150px;
    background: rgb(77, 77, 196);
}

.title::before {
    left: -150px;
    background: rgb(251, 110, 110);
}

